<p>Hello world</p>

{% schema %}
{
  "name": "Test",
  "tag" : "section",
  "class": "section-test",
  "limit": 2,
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Test"
    }
  ]

}
{% endschema %}